/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  padding: 0px;
}

main{
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 90px;
  border-radius: 15px;
}

/*header h1 {
  font-size: 2.5em;
  color: #2c3e50;
}

header p {
  font-size: 1.2em;
  color: #7f8c8d;
}*/

.thd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.thd:nth-child(even) {
  flex-direction: row-reverse;
}

.thd .texto {
  flex: 1;
  padding: 20px;
}

.thd .texto h2 {
  margin-bottom: 10px;
  color: #2980b9;
}

.thd .texto p {
  font-size: 1em;
  color: #555;
}

.thd .imagen {
  flex: 1;
  text-align: center;
}

.thd .imagen img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

footer {
  text-align: center;
  margin-top: 40px;
  color: #95a5a6;
}
